<style>
    .my-container{
        min-height: 80%;
        min-width: 100%;
        border: 1px solid black;
    }
    .my-row{
        height: 600px;
        border: 1px solid black;
    }
    .my-row-Voiture{
        height: 400px;
        border: 1px solid black;
    }
    .my-row-Bottom{
        height: 200px;
    }
    .my-row-Right{
        height: 200px;
        border: 1px solid black;
    }
    .my-col-Bottom{
        border: 1px solid black;
    }

</style>


<body>


    <div class="container my-container">
        <div>
            <div class="row my-row">
                <div class="col-3">
                    <h1 class="mx-auto">
                        Caractéristique de votre voiture
                    </h1>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="button" (click)="achette_voiture()">Achetter</button>
                </div>

                <div class="col-7 ">
                    <div class="row my-row-Voiture">
                        <img src="../../assets/Photos/Modele/{{car.carrosserie.modele.picture}}"  width="930" height="400px">
                    </div>
                    <div class="row my-row-Bottom">
                        <div class="col-4 my-col-Bottom">
                            <img src="../../assets/Photos/Pneus/{{car.roues[0].pneu.picture}}" width="200px" height="195px">
                        </div>
                        <div class="col-4 my-col-Bottom">
                            <img src="../../assets/Photos/Jantes/{{car.roues[0].jante.picture}}" width="200px" height="195px">
                        </div>
                        <div class="col-4 my-col-Bottom">
                            <img src="../../assets/Photos/Moteurs/{{car.moteur.picture}}" width="200px" height="195px">
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <div class="row my-row-Right">
                        <img src="../../assets/Photos/Pneus/{{car.roues[2].pneu.picture}}" width="200px" height="195px">
                    </div>
                    <div class="row my-row-Right">
                        <img src="../../assets/Photos/Jantes/{{car.roues[2].jante.picture}}" width="200px" height="195px">
                    </div>
                    <div class="row my-row-Right" style="background-color: black;">
                        
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>