<h2>Voici les voitures de rêve déjà vendu</h2>



<ul *ngFor="let car of voitures_dispo">

  <a [routerLink]="['/details-vendus',car]">
    <h3>
      {{ car.car_name }}
    </h3>
    <img src="../../assets/Photos/Modele/{{car.carrosserie.modele.picture}}">
  </a>  
  
</ul>

