
<br>
<br>
<br>
<br>
<br>
<div [routerLink]="['/disponibles']">
  <h1 class="text-center align-middle" style="color: red;">Voitures disponibles à la vente</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<div [routerLink]="['/personalise']">
  <h1 class="text-center align-bottom" style="color: blue;">Personalisé votre voiture de rêve</h1>
</div>
<br>
<br>
<br>
<br>
<br>
<div [routerLink]="['/vendus']">
  <h1 class="text-center align-bottom" style="color: darkviolet;">Voitures de rêve déjà vendu</h1>
</div>
