

.container {
    display: grid;
    grid-template-columns: max-content [col_0] 10% [col_1]10% [col_2]10% [col_3]10% [col_4]10% 
    [col_5]10% [col_6]10% [col_7]15% [col_8]5% [col_9]10% [col_10];

    grid-template-rows: max-content [row_0] 10% [row_1]10% [row_2]10% [row_3]10% [row_4]10% 
    [row_5]10% [row_6]15% [row_7]5% [row_8]10% [row_9]10% [row_10];
}


.carac {
    grid-column-start: col_0;
    grid-column-end: col_3;
    grid-row-start: row_0;
    grid-row-end: row_10;
}

.voiture {
    grid-column-start: col_3;
    grid-column-end: col_8;
    grid-row-start: row_0;
    grid-row-end: row_7;
}

.pneu1 {
    grid-column-start: col_3;
    grid-column-end: col_5;
    grid-row-start: row_7;
    grid-row-end: row_10;
}

.jante1 {
    grid-column-start: col_5;
    grid-column-end: col_7;
    grid-row-start: row_7;
    grid-row-end: row_10;
}

.moteur {
    grid-column-start: col_7;
    grid-column-end: col_10;
    grid-row-start: row_7;
    grid-row-end: row_10;
}


.pneu2 {
    grid-column-start: col_8;
    grid-column-end: col_10;
    grid-row-start: row_0;
    grid-row-end: row_3;
}

.jante2 {
    grid-column-start: col_8;
    grid-column-end: col_10;
    grid-row-start: row_3;
    grid-row-end: row_6;
}

.color {
    grid-column-start: col_8;
    grid-column-end: col_10;
    grid-row-start: row_6;
    grid-row-end: row_7;
    
}

